*.png
!results/Model_results/
!results/Model_results/*.png

data/processed/oral_hypo_hits.pkl

# *.csv
*data/不用
*src/Hybrid

*.pyc
*.gz
*.joblib
**/__pycache__
**/.ipynb_checkpoints
**/.github/prompts

*/.#*
*/*~
*.log
logs/
**/.vscode/